@model IEnumerable<HR_Tool.Models.Proficiency>

@{
    ViewData["Title"] = "Index";
}
<head>
    <link href="@Url.Content("~/css/site.css")" rel="stylesheet" type="text/css" />
</head>

<h1>Proficiencies</h1>

<p>
    <a class="btn2" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th style="background-color:#03B28B; font-size:1.2em;">
                @Html.DisplayNameFor(model => model.ProficiencyLevel)
            </th>
            <th style="background-color:#03B28B;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProficiencyLevel)
                </td>
                <td class="btnCol">
                    <a class="btn" asp-action="Edit" asp-route-id="@item.ProficiencyID">Edit</a>
                    <a class="btn" asp-action="Delete" asp-route-id="@item.ProficiencyID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
